<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Layouts</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<!--фрагмент хедер login-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example" th:fragment="navs_login">
    <div class="container-fluid justify-content-center">
        <h1 class="text-light">Пассажирские перевозки</h1>
    </div>
</nav>

<!--фрагмент хедер index-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example" th:fragment="navs">
    <div class="container-fluid" th:if="${role == 'ADMIN'}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/drivers}">Водители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/bus}">Автобусы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/travels}">Маршруты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dispatcher}">Диспетчер</a>
                </li>
            </ul>
        </div>
        <a th:href="@{/account}" class="btn btn-success">Профиль</a>
    </div>
    <div class="container-fluid" th:if="${role == 'DISPATCHER'}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dispatcher}">На главную</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/drivers}">Водители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/bus}">Автобусы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/travels}">Маршруты</a>
                </li>
            </ul>
        </div>
        <a th:href="@{/account}" class="btn btn-success">Профиль</a>
    </div>
    <div class="container-fluid" th:if="${role == 'DRIVER'}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">На главную</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/account}">Профиль пассажира</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/travels}">Маршруты</a>
                </li>
            </ul>
        </div>
        <a th:href="@{/drivers/accountDriver}" class="btn btn-success">Профиль водителя</a>
    </div>
    <div class="container-fluid" th:if="${role == 'USER'}">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">На главную</a>
                    </li>
                </ul>
            </div>
            <a th:href="@{/account}" class="btn btn-success">Профиль</a>
        </div>
    </div>
    <div class="container-fluid" th:if="${role == ''}">
        <div class="container-fluid justify-content-center">
            <h1 class="text-light">Пассажирские перевозки</h1>
        </div>
    </div>
</nav>

<!--фрагмент footer-->
<footer class="text-muted text-center text-small" th:fragment="footer">
    <div class="container">
        <p class="mb-1 unselectable">&copy; 2024 Евгений Хозин</p>
    </div>
</footer>

</body>
</html>