<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Drivers List</title>

    <link rel="shortcut icon" th:href="@{bus.svg}" type="image/svg">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="d-flex flex-column h-100 bg-light">
<nav th:insert="~{layout/layouts.html :: navs}"></nav>

<div class="container text-center m-auto">
    <main class="flex-shrink-0">

        <h1>Welcome to Drivers list</h1>

        <div th:if="${message != null}" class="alert alert-success">
            [[${message}]]
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Поездки</th>
                    <th>All</th>
                    <!--            <th>Actions</th>-->
                </tr>
                </thead>
                <!-- тело таблицы -->
                <tbody>
                <!-- цикл -->
                <th:block th:each="driver: ${driverList}">
                    <tr>
                        <td>[[${driver.id}]]</td>
                        <td>[[${driver.firstName}]]</td>
                        <td>[[${driver.lastName}]]</td>
                        <td>[[${driver.driverTravels}]]</td>
                        <td>[[${driver}]]</td>
                        <!--                <td>-->
                        <!--                    &lt;!&ndash; детали &ndash;&gt;-->
                        <!--                    <a th:href="@{'/users/details/' + ${user.id}}" class="btn btn-success">-->
                        <!--                        Details-->
                        <!--                    </a>-->
                        <!--                    &lt;!&ndash; редактирование &ndash;&gt;-->
                        <!--                    <a th:href="@{'/users/update/' + ${user.id}}" class="btn btn-warning">-->
                        <!--                        Update-->
                        <!--                    </a>-->
                        <!--                    &lt;!&ndash; кнопка удаления &ndash;&gt;-->
                        <!--                    <a th:href="@{'/users/delete/' + ${user.id}}" class="btn btn-danger">-->
                        <!--                        Delete-->
                        <!--                    </a>-->
                        <!--                </td>-->
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <a th:href="@{/drivers/new}" class="header">add new driver</a>
    </main>
</div>

<!--<img th:src="@{favicon.svg}" alt="Картинка"/>-->

<footer class="footer mt-auto py-3" th:insert="~{layout/layouts.html :: footer}"></footer>
</body>
</html>