<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Index</title>

    <link rel="shortcut icon" th:href="@{bus.svg}" type="image/svg">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
<nav th:insert="~{layout/layouts.html :: navs}"></nav>

<div class="container-fluid text-center m-auto">
    <main>
        <div th:if="${message != null}" class="alert alert-success">
            [[${message}]]
        </div>

        <h1>Пассажирские перевозки</h1>
        <img src="/ava_bus.png" alt="" width="200" height="200">

        <div class="container-fluid text-center mt-5">
            <h3>Чистополь - Казань</h3>
            <div class="me-auto mb-2 mb-sm-0 row-cols-auto">
                <a th:href="@{'/order/chistopol-kazan:' + ${today}}" class="btn btn-lg btn-warning index_button">Сегодня ([[${today}]])</a>
                <a th:href="@{'/order/chistopol-kazan:' + ${tomorrow}}" class="btn btn-lg btn-warning index_button">Завтра ([[${tomorrow}]])</a>
                <a th:href="@{'/order/chistopol-kazan:' + ${dayAfterTomorrow}}" class="btn btn-lg btn-warning index_button">Послезавтра ([[${dayAfterTomorrow}]])</a>
            </div>

            <h3 class="mt-5">Казань - Чистополь</h3>
            <div class="me-auto mb-2 mb-sm-0 row-cols-auto">
                <a th:href="@{'/order/kazan-chistopol:' + ${today}}" class="btn btn-lg btn-warning index_button">Сегодня ([[${today}]])</a>
                <a th:href="@{'/order/kazan-chistopol:' + ${tomorrow}}" class="btn btn-lg btn-warning index_button">Завтра ([[${tomorrow}]])</a>
                <a th:href="@{'/order/kazan-chistopol:' + ${dayAfterTomorrow}}" class="btn btn-lg btn-warning index_button">Послезавтра ([[${dayAfterTomorrow}]])</a>
            </div>
        </div>
    </main>
</div>

<footer class="footer mt-auto py-3" th:insert="~{layout/layouts.html :: footer}"></footer>
</body>
</html>