<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new route</title>
    <link rel="shortcut icon" th:href="@{/favicon.svg}" type="image/svg">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:insert="~{layout/layouts.html :: navs}"></nav>

<div class="container-fluid text-center">
    <h1>Add new route</h1>
    <form th:action="@{/routes/new}" th:object="${route}" method="post">

        <select th:field="*{user}">
            <th:block th:each="user: ${userList}">
                <option th:value="${user.id}">[[${user.firstName}]] [[${user.lastName}]]</option>
            </th:block>
        </select>

        <select th:field="*{travel}">
            <th:block th:each="travels: ${travelsLists}">
                <option th:value="${travels.id}">[[${travels.timeToDrive}]] [[${travels.bus.number}]]</option>
            </th:block>
        </select>


        <!--        кнопка сохранить-->
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" th:href="@{/drivers}">Cancel</a>
    </form>
</div>

<footer th:insert="~{layout/layouts.html :: footer}"></footer>
</body>
</html>